include versioneer.py
include artella/plugins/getdependencies/artella-plugin.json
include artella/plugins/getdependencies/_version.py
include artella/plugins/getdependencies/resources/getdependencies.png
recursive-exclude * *.py[co]