# ===================================================================
# artella-plugins-getdependencies requirements file
# ===================================================================

artella-plugins-core